* {
  font-family: 'Poppins', sans-serif, monospace;
}

a{
  text-decoration: none;
}

.atag { 
  color:white;
  text-decoration: none; 
}

.atag:hover{
  color: #f4181c;
}


.carddiv:hover{

  .cardbg {
      background-color: #f4181c;
      color: white;
      transition: all .5s ease 0ms;
    }
    
    .button {
      background-color: #f4181c;
      color: white;
    }
    
    .button:hover {
      background-color: #333333;
      color: white;
    }
}

.carddiv{
  .button{
    background-color: #333333;
    color: white;
    transition: all .5s ease 0ms;
  }
  .cardbg{
    background-color: #333333;
    color: white;
    transition: all .5s ease 0ms;
  }
}

.buttonex:hover {
  background-color: #333333;
  color: white;
}

.buttonex {
  background-color: #f4181c;
  color: white;
}

/*image hover*/

.image-container {
  overflow: hidden;
  position: relative;
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.2);
}


/*Accordian*/



.accordion-button:not(.collapsed) {
  background-color: #f4181c;
  color: white;
}

.accordion-button {
  background-color: #000000;
  color: white;
}

.hreflink:hover{
  color: #f4181c;
}

.iconimg {
  background-color: #3b5998;
  border-radius: 100%;
  margin-left: 5px;
  color: white;
  padding: 9px;
  padding-left: 15px;
  padding-right: 15px;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.iconimg:hover {
  background-color: rgb(0, 0, 0);
}

.ticon {
  background-color: #55acee;
  margin-left: 5px;

  border-radius: 100%;
  color: white;
  /* height: 200px; */
  padding: 9px;
  padding-left: 12px;
  padding-right: 12px;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.ticon:hover {
  background-color: rgb(0, 0, 0);
}

.licon {
  background-color: #0082ca;
  margin-left: 5px;

  border-radius: 100%;
  color: white;
  /* height: 200px; */
  padding: 9px;
  padding-left: 12px;
  padding-right: 12px;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.licon:hover {
  background-color: rgb(0, 0, 0);
}

.instaicon {
  background-color: #E4405F;
  border-radius: 100%;
  color: white;
  margin-left: 5px;

  /* height: 200px; */
  padding: 9px;
  padding-left: 12px;
  padding-right: 12px;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.instaicon:hover {
  background-color: rgb(0, 0, 0);
}